[core]
	excludesfile = /Users/mauricio/.gitignore
	editor = subl -w
[alias]
	st = status
	cp = cherry-pick
	co = checkout
	ci = commit
[user]
	name = Mauricio Zaffari
	email = mauricio@papodenerd.net
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
